.level-button-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 20px;
    width: 50vw;
    height: 50vh;
    padding: 10px;
}

.level-button {
    border-radius: 10px;
    font-size: 100%;
    cursor: pointer;
}